{% extends "app/layout.html" %}

{% block content %}


    <br/>
    <br/>
    {% csrf_token %}
    <form action="/SelectAnswer/" method="post" class="form-horizontal">
        <label for="name">ФИО: </label>
        <input type="text" name="name" value="{{ current_name }}" required>
        <label for="group">Группа: </label>
        <input type="text" name="group" required>
        {% for item in quest.Quest %}
            <td>
                <hr/>
                <h1> {{ item.quest }} </h1>
                {% for lot in QuestAns.QuestAns %}
                    {% if lot.quest_num == item.id %}
                        <h3>{{ lot.answer_num }}) {{ lot.answer }}</h3>
                    {% endif %}
                {% endfor %}
                <div class="form-group">
                    <label for="answer">Ответ: </label>
                    {% csrf_token %}
                    <select id="{{ item.id }}" name="ans_{{ item.id }}">
                        {% for lot in QuestAns.QuestAns %}
                            {% if lot.quest_num == item.id %}
                                <option value="{{ lot.answer_num }}">{{ lot.answer }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                {% if form.errors %}
                    <p class="validation-summary-errors">Please check your answers.</p>
                {% endif %}
                <br/>
            </td>
        {% endfor %}
        <button type="submit">submit</button>
    </form>

{% endblock %}
