{% extends "app/layout.html" %}

{% block content %}


    <br/>
    <br/>
    {% csrf_token %}
        {% for item in quest.Quest %}
            <td>
                <hr/>
                <h1> {{ item.quest }} </h1>
                {% for lot in QuestAns.QuestAns %}
                    {% if lot.quest_num == item.id %}
                        <h3>{{ lot.answer_num }}) {{ lot.answer }}</h3>
                    {% endif %}
                {% endfor %}
                <br/>
            </td>
        {% endfor %}

{% endblock %}
