{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2>TrueNews</h2>
    <p class="lead">Добропожаловать на сайт TrueNews!</p>
    <p class="">Это сайт для людей которые хотят знать и для тех кто хочет рассказать!</p>
    <p>Каждый пользователь может разместить у нас свой пост, для этого нужно зарегистрироваться, отправить нам свой пост, и дождаться окончания модерации</p>
    <p><a href="/about" class="btn btn-primary btn-large"> Смотреть ленту</a></p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
</div>

{% endblock %}
